@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

.topo{
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    color:#17233D;
    margin: 47px 0 178px 42px;
    cursor: pointer;
}

#botão{
    width: 124px;
    height: 51px;
    border: 5px;
    border-radius: 5px;
    background-color:#6FBF44;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #ffff;
    margin-left: 32px;
    cursor: pointer;
}

img{
    width: 595.18px;
    height: 500px;
    margin-top: 163px;
    margin-left: 121px;
    margin-right: 84px;
    display: inline-block;
}

#texto{
    font-family: Poppins;
    font-size: 62px;
    font-weight: 700;
    line-height: 82px;
    width: 582px;
    color: #161A49;
}

#paragrafo{
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 33px;
    color: #4B505A;
    Width: 493px;
}

#link{
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    color: #6FBF44;
    cursor: pointer;
}

#caixa-texto {
    margin-left: 20px; /* Adicione um espaçamento entre a imagem e a div */
}

div{
    display: inline-block;
}